body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #2f3237;
}

h2 {
    color: #647b71;
}

li {
    line-height: 2em;
}

.w-1 {
    color: #2f3237;
}

.w-2 {
    color: #647b71;
}

.pisah {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    margin: 0 7em 0 7em;
}

.personal-info {
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #647b71;
    color: white;
    border-radius: 0 0 1em 1em;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 0 0 3em 0;
}

.profile .pisah {
    margin: -1.5em 0 -1.5em 0;
}

.sosmed {
    display: flex;
    flex-direction: column;
}

.sosmed .pisah {
    padding: 0.5em;
}

.sosmed img {
    margin: 0 1em 0 0;
}

.sosmed a {
    color: white;
}

.sosmed .pisah:hover {
    background-color: #2f3237;
    border-radius: 1em 0;
}

.info img {
    width: 2em;
    height: 2em;
}

.foto {
    width: 35%;   
    transition: transform 0.3s, filter 0.3s;
}

.foto:hover {
    transform: scale(1.05); /* Zoom in slightly on hover */
    filter: brightness(70%); /* Set brightness to 100% on hover */
}

.foto img {
    border-radius: 5em 0;
    width: 100%;
    max-height: 34em;
    object-fit: cover;
}

.pendidikan {
    padding: 3em;
}

.pendidikan .icon {
    margin: 0 10em 0 0;
}

.data-pendidikan {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pengalaman {
    margin-top: -3em;
    padding: 3em;
}

.data-pengalaman {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.data-pengalaman h3 {
    margin: 0 5em 0 5em;
}

.d-pengalaman img {
    width: 3em;
}

.kemampuan {
    display: flex;
    border-radius: 1em 1em 0 0;
    padding: 1em 0 3em 0;
    flex-direction: row;
    justify-content: space-around;
    background-color: #647b71;
    color: white;
}

.kemampuan h2 {
    color: white;
}